*{
    padding: 0%;
    margin: 0%;
}


body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.395), rgba(255, 255, 255, 0.395)),url(./coffee-1576552_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(75, 38, 20,);
}

/* Navbar */
 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#log img{
width: 80px;
height: 80px;
/* padding-left: 20px; */
right: 50px;
} 

.ancor-tag{
    margin-top: 20px;
    padding-right: 50px;

}
.ancor-tag a{
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px, 20px;
    color: rgb(75, 38, 20);
    background-color: #ffffffff;
    font-size: medium;
} 
/* home */
.home{
    display: flex;
    justify-content: space-between;
}
.home-heading{
    padding: 150px 70px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-heading h1{
    font-size: 44px;
}

h1 em{
    font-size: 60px;
    font-style: normal;
}

.home-heading p{
    padding: 5px 0px;
}
.home-heading button{
    color: #4b2614;
    border: 1px solid #4b2614;
    background-color: transparent;
    padding: 10px;
    margin-left: 20%;
    margin-top: 15px;
    border-radius: 7px;
}
.offer{
    margin-top: -80px;
    margin-left: -100px;
background-color: transparent;
}
.offer img{
    width: 400px;
}
.home-img{
    width: 400px;
}
.home-img{
    position: relative;
    animation: move 1s both;
}
@keyframes move{
    from {right: 0px;}
    to {right: 100px; }
}
/* coffee */
.heading{
    text-align: center;
    margin-bottom: 80px;
    font-size: xx-large;
}
.Coffee-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.coffee-cup{
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.265),rgba(0,0,0,0.265)),url(./back4.jpg);
    background-size: cover;
    color: aliceblue;
    transition: transform 0.5s ease-in 0.4s;
}
.coffee-cup:hover{
    transform: scale(1.1);
}
.coffee-cup img{
    width: 150px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}
.coffee-cup h2{
    margin-top: -15px;

}
.coffee-cup p{
    font-size: 13px;
    padding: 5px;
}
/* img and text */
.img-text{
     display: flex;
    padding: 40px 40px;
    margin-top: 60px;
    justify-content: space-evenly;
    text-align: center;
    position: relative; 
}
.img-text img{
    width: 400px;
    margin-right: 40px;
}
.img-text p{
    text-align: justify;
    font-size: x-large;
    margin-right: 110px;
    /* margin-top: -5px; */
    margin-bottom: -5px;
}
/*  cold coffee section  */
.cold-coffee-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
    margin-top: 60px;
}
.coffe-cup{
    width: 220px;
    height: 260px;
    border: 5px solid white;
    text-align: center;
    background-color: rgba(185, 117, 83, 0.589);
    transition: transform 0.4s ease-in 0.9s;
}
.coffe-cup:hover{
    transform: translateY(-10px);
}
.coffe-cup img{
    padding: 30px 0;
    width: 100px;
    height: 150px;
}
.cold-coffee-container .text-body{
    background-color: aliceblue;
padding: 12px;
}
.coffe-cup .text-body h4{
    font-size: 3vh;
    color: #4b2614;
}
#heading{
    text-align: center;
    bottom: 50px;
}


/* small 1000px .................*/
@media(max-width:1000px){
    #log img{
        width: 70px;
        height: 70px;
        padding-left: 30px;
    }
    .ancor-tag{
        padding-right: 50px;

    }
.ancor-tag a{
    padding: 10px 10px;
}
}
@media(max-with:780px){
    #log img{
        width: 60px;
        height: 60px;
    }
    .ancor-tag a{
font-size: 2.7vh;
padding: 5px;
    }
    /* Home */
    .home-heading{
        padding: 150px 50px;
    }
    .home-heading h1{
        font-size: 35px;
    }
    h1 em{
        font-size: 50px;
    }
    .home-heading button{
        padding: 7px;
        margin-top: 7px;
    }
    .offer{
        margin-top: -70px;
        margin-left: -70px;
    }
    .offer img{
        width: 300px;
    }
    .home-img{
        width: 300px;
    }
    @keyframes move {
        from{right: opx; }
        to{right: 50px;}
    }
    /* coffee */
    .Coffee-container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 90px;
    }
    .coffee-cup{
        width: 190px;
        height: 190px;
    }
    .coffee-cup img{
        width: 150px;
        height:130px  ;
    }
.coffee-cup h2{
    margin-top: 15px;
}
.coffee-cup p{
    font-size: 13px;
    padding: 5px;
}
/* img and text */
.img-text{
    padding: 40px 10px;
    margin-top: 30px;
}
.img-text img{
    width: 33%;
}
.img-text p{
    padding: 10px 20px;
    font-size: 2.6vh;
}
/* cold-coffe-section */
.coffe-cup{
    width: 180px;
    height: 260px;
}
.coffe-cup h4{
    font-size: 2.2vh;
}



}
/* tabs ...........*/
@media(max-width: 700px){
#log img{ 
    height: 60px;
    width: 60px;
}
.ancor-tag a{
    font-size: 2.7vh;
    padding: 5px;
}
/* home */
.home-heading{
    padding: 150px 20px;

}
.home-heading h1{font-size: 26px;}

h1 em{
    font-size: 40px;
}
.home-heading img{
    width: 15px;
    padding:5px ;
}
.home-heading p{
    font-size: small;
}
.home-heading button{
    padding: 6px;
}
.offer{
    margin-top: -70px;
    margin-left: -70px;
}
.offer img{
    width: 300px;
}
.home-img{
    width: 300px;
}
@keyframes move {
    from{right: opx; }
    to{right: 5%;}
}

/* coffee */

.coffee-cup{
    width: 170px;
    height: 170px;
}
.coffee-cup img{
    width: 120px;
    height:100px  ;
}
.coffee-cup h2{
margin-top: -20px;
font-size: medium;
}
.coffee-cup p{
font-size: 1.7vh;
}
/* img and text */
.img-text{
    padding: 40px 0px;
    margin-top: 30px;
}
.img-text img{
    width: 30%;
}
.img-text p{
    padding: 0px 20px;
    font-size: 2vh;
}
/* cold coffe */
.cold-coffee-container{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}
.coffe-cup{
    width: 220px;
    height: 224px;
}
.cold-coffee-container img{
    padding: 30px 40px;
    width: 100px;
    height: 150px;
}
}

/* Mobile ........*/
@media(max-width:420px){
    #log img{
        height: 50px;
        width: 50px;
        padding-left: 10px;
    }
    .ancor-tag{
        padding-right: 10px;
        margin-top: 6px;
    }
.ancor-tag a{
    padding: 5px 5px;
    font-size: 1.6vh;
}

/* home */
.home-heading{
    padding: 60px 20px;

}
.home-heading h1{font-size: 3vh;}

h1 em{
    font-size: 4vh;
}
.home-heading img{
    width: 10px;
    padding:2px ;
    margin: 8px 0;
    margin-bottom: 0;
}
.home-heading p{
    font-size: 1.3vh;
}
.home-heading button{
    padding: 2px;
margin-left: 5px;
font-size: 1.3vh;

}
.offer{
    margin-top: -40px;
}
.offer img{
    width: 140px;
}
@keyframes move {
    from{right: opx; }
    to{right: 5%;}
}
/* coffee */
.Coffee-container{
    display: grid;
    grid-template-columns: 1;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
}
.coffee-cup{
    width: 250px;
    height: 220px;
}
.coffee-cup img{
    width: 180px;
    height:150px  ;
}
.coffee-cup h2{
margin-top: -15px;
}
.coffee-cup p{
padding: 10px;
}
/* img and text */
.img-text{
    display: grid;
    padding: 0;
    margin-bottom: 60px;
    margin: 0;
}
.img-text img{
    width: 140px;
    display: block;
    margin: 0 auto;
}
.img-text p{
    padding-top:  20px;
    font-size: 2.6vh;
    margin-right: 0;
    text-align: justify;
    font-family:  'Arial Narrow', Arial, sans-serif;
}
/* cold coffe */
.cold-coffee-container{
    display: grid;
    grid-template-columns: 65%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -10px;
    gap: 30px;
}
.coffe-cup{
    width: 220px;
    height: 250px;
}
.cold-coffee-container img{
    padding: 30px 40px;
    width: 100px;
    height: 150px;
}
}